# Google C++ Style Guide with some customizations for game development
BasedOnStyle: Google

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
ColumnLimit: 0

# Others
BreakBeforeBraces: Allman
NamespaceIndentation: None
